---
import BaseLayout from './BaseLayout.astro'
---

<BaseLayout>
  <main class="layout">
    <slot />
  </main>
</BaseLayout>

<style>
  header:is(.layout) {
    @apply bg-slate-200 text-slate-800 h-20 z-10;

    nav a {
      @apply font-medium text-lg items-center text-sky-900 hover:text-sky-950 hover:underline transition;
    }
  }

  main:is(.layout) {
    @apply container py-8 sm:py-12;
  }

  footer:is(.layout) {
    @apply bg-slate-200 text-slate-800 h-20;
  }
</style>
