---
import Layout from '@/layouts/Layout.astro'
import { ModeToggle } from '@/components/ModeToggle';
import '@/styles/globals.css'
---

<Layout>
  <h1 class="font-bold text-neoncyan">And? oklch forever?</h1>
  <ModeToggle client:visible />
</Layout>
